*.class
*.jar



PetitionApp/project.properties
PetitionApp/bin/*
PetitionApp/gen/*


PetitionServer/bin/*
PetitionServer/project.properties

PetitionApp/gen/com/nocodejustleague/petitionapp/R.java

PetitionApp/gen/android/support/v7/appcompat/R.java
